#relogio{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    position: relative;
    border:10px double black;
}

#relogio::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: black;
    border:2px solid #fff;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
}

#numeros > div{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    height: 400px;
    transform: rotate(calc(var(--index) * 30deg));
    left: calc(50% - 5px);
}

#numeros > div > span{
    position: absolute;
    transform: rotate(calc(var(--index) * -30deg));
}

.ponteiro{
    width: 10px;
    height: 40%;
    position: absolute;
    bottom: calc(50% - 5px);   
    left: 50%;
    border: 1px solid #000;
    border-radius: 5px;
    transform-origin: bottom;
}

#ponteiroHora{
    background-color: black;
}

#ponteiroMinuto{
    background-color: blue;
}

#ponteiroSegundo{
    background-color: red;
}